ol {
    background-color: yellow;
    font-weight: bolder;

}

ol li:nth-of-type(even){
    color: green;
    
}

ol li:nth-of-type(odd){
    text-transform: uppercase;    
}

.head {
    color: red;
}

h1.head {
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

 ul.language li:nth-child(-n+3){
    color: blue;
}

.java{
    background-color:deeppink;
    
}

.stack:hover{    
    color: orange;
    font-weight: bolder; 
}

.w3s:hover{     
    color: green;
    font-weight: bolder; 
}

.MDN:hover{   
    color: black;
    font-weight: bolder; 
}

.dev:hover{   
    color:yellow;
    font-weight: bolder; 
}

.trybe:hover{   
    color:green;
    font-weight: bolder; 
}